<!doctype html>

<html lang="en">
   
   
    <head>
       
       
        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       
        <!-- PAGE TITLE -->
        <title>Ian</title>
       
        <!-- FAVICON -->
        <link rel="shortcut icon" href="/assets/img/pic.jpeg">
       
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
       
        <!-- STYLESHEETS -->
        
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        
        
    </head>

   
    <body>
    
       
        <!-- PRELOADER -->
        <div class="preloader">
           
            <div class="spinner"></div>
            
        </div>
        <!-- /PRELOADER -->
    
        
        <!-- IMAGE CONTAINER -->
        <div class="image-container">
           
            <div class="background-img"></div>

        </div>
        <!-- /IMAGE CONTAINER -->


        <!-- CONTENT AREA -->
        <div class="content-area" >


            <!-- CONTENT AREA INNER --> 
            <div class="content-area-inner" >


                <!-- INTRO -->
                <section id="intro">


                    <!-- CONTAINER MID -->
                    <div class="container-mid">

                       
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-right" data-animation-delay="0">
                        
                            <h1>Hi I'm Ian , A Web Developer</h1>
                        
                        </div>
                        <!-- /ANIMATION CONTAINER -->
                        
                        
                       


                    </div>
                    <!-- /CONTAINER MID -->


                </section>
                <!-- /INTRO -->


                <!-- ABOUT -->
                <section id="about">


                    <h3 class="headline scroll-animated">About Me</h3>
                    
                    <p class="scroll-animated">My name is Ian Onyango,

                A Full stack web app developer,
                software engineering enthusiast and a student Major In Computer Science
                I use different tools and skills to come up with solutions in the real world situations
</p>

                    <p class="scroll-animated">Am open to learning and love making new discoveries day by day, adapting to new changes and environments, I also love writing articles documenting my learning process and projects,
                        i interact with different individuals and resources to make a comprehensive documentation and plan for the project at hand.
                        Currently learning on how to contribute to open source projects,agile methodolgy and cloud computing
                     I also love hiking during my free time to refresh and reenergize</p>
                    
                    
                
                </section>
                <!-- /ABOUT -->
                
                
                <!-- SERVICE -->
                <section id="service">


                    <h3 class="headline scroll-animated">Skills</h3>
                    
                    
                    <!-- SERVICE LIST -->
                    <ul class="services-list">
                       
                       
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-1" aria-expanded="false">Webdesign</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-1">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p> Different skills combined bring up an amazing work on the web, I use HTML,CSS and JAVASCRIPT to build up my web sofware.</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        <!-- /SERVICE ITEM -->
                        
                        
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-2" aria-expanded="false">REST APIS</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-2">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>Desiging and  defining how applications or devices can connect to and communicate with each other</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                       <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-2" aria-expanded="false">FrontEnd Design</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-2">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>I use react as my primary language in the front end design and work</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        
                        
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-3" aria-expanded="false">BackendDevelopment</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-3">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>I use nodeJS as my primary language for the backend, i can also write in python-Django</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>

                         <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-3" aria-expanded="false">Version Control</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-3">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>I use Git and Github to produce different versions for my project,monitor them and compare the results</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        <!-- /SERVICE ITEM -->
                        
                        
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-4" aria-expanded="false">DataBases</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-4">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p> I use MongoDb and MYSQL to store my data securely</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                       
                       <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-2" aria-expanded="false">DataStructures and Algorithms</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-2">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>I do challenge myself with different problems to help me gauge my knowledge For easier problem solving and structuring an application</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        
                        
                    </ul>
                    <!-- /SERVICE LIST -->


                </section>
                <!-- /SERVICE -->
                
                
                <!-- WORK -->
                <section id="work">


                    <h3 class="headline scroll-animated">Work and Articles</h3>
                    
                    
                    <!-- SHOWCASE -->
                    <div class="showcase">
                       
                       
                       
                        <div class="item scroll-animated" style="background: red;">

                            <h6>NodeJS Inventory System</h6>
                            <p>A backend api app majorly dealing with create,read,update and delete operations, Allows users to add origins, and products, retrieved from the database.</p>
                            <a href="https://ian-store.herokuapp.com/"><i class="fas fa-location-arrow fa-3x" >web</i></a>

                                                      

                            <a href="https://github.com/ian-yitzhak/NodeJS-inventory-App"> <i class="fab fa-github fa-3x">code</i></a>

                        </div>


                          <div class="item scroll-animated" style="background: red;">

                          <h6>REACT Weather Application</h6>
                            <p>React Fetch weather API for searching weather conditions for different countries</p>
                            <a href="https://ian-yitzhak.github.io/weather-application/"> <i class="fas fa-location-arrow fa-3x" >web</i></a>
                             

                            <a href="https://github.com/ian-yitzhak/weather-application"> <i class="fab fa-github fa-3x">code</i></a>

                        </div>


                          <div class="item scroll-animated" style="background: red;">

                           <h6>A dynamic restaurant page</h6>
                            <p>A dynamic restaurant page made using WEBPACK,NPM & ES6</p>
                            <a href="https://ian-yitzhak.github.io/github.io-resturant-page/"> <i class="fas fa-location-arrow fa-3x" >web</i></a>
                           

                            <a href="https://github.com/ian-yitzhak/resturant-page"> <i class="fab fa-github fa-3x">code</i></a>

                        </div>


                          <div class="item scroll-animated" style="background: red;">

                           <h6>BLOG ARTICLE</h6>
                            <p>This is my article on my daily instruments of work as a developer</p>
                            

                            <a href="https://iano.hashnode.dev/6-tools-i-use-everyday-as-a-developer"> <i class="fas fa-pen fa-3x"></i></a>

                        </div>

                          <div class="item scroll-animated" style="background: red;">

                          <h6>See Other Blogs and Github Profile</h6>
                            
                            <a href="https://iano.hashnode.dev/"> <i class="fa fa-3x" >Blog</i></a>
                            <br>

                            <a href="https://github.com/ian-yitzhak"> <i class="fa fa-3x" >GitHub</i></a>

                        </div>

                          
                          
                            
                            
                            
                        </div>
                        
                        
                        
                    </div>
                  


                </section>
                <hr>

                <div class="contact"> 
                    
                    <h6>Am open and free ,Please feel free to contact me any time for any idea,review, work or projects ON <br> Call: 0702925783 <br> Email: onyangoian1@gmail.com</h6>
                    <br>
                    <hr>

                    <ul>

 
  <li><a href="https://twitter.com/ian_onyang_?s=09"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="https://wa.me/254702925783"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
  <li><a href="https://www.linkedin.com/in/ian-onyango-3b6170174"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
 
</ul>

                 </div>
              
                
                
                

            </div>
            <!-- /CONTENT AREA INNER -->


        </div>
        <!-- /CONTENT AREA -->
        
        
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="/assets/js/plugins.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
   
   
    </body> 
    
    
</html>